:root {
    --bg-color: #fafafa;
    --fg-color: #302C34;
    --secondary-fg-color: #640D66;
    --secondary-bg-color: #EA79A2;
    --secondary-accent-color: #ffe6f7;
    --accent-color: #3e08c6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-color);
}

.top-nav {
    text-align: center;
    padding: 10px;
}

.top-nav ul li {
    display: inline;
    margin: 0 1rem;
    border-bottom: 3px solid var(--secondary-bg-color);
}

.top-nav ul li a {
    text-decoration: none;
    color: var(--fg-color);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}


body {
    font-family: 'Manrope', sans-serif;
    color: var(--fg-color);
    line-height: 1.6;
}

p {
    margin-bottom: 1.5rem;
    color: var(--fg-color);
}

.full-width-img {
    width: 100vw;
    padding: 0;
}

.project-introduction, .process-section, .final-section {
    max-width: 800px;
    margin: 2rem auto;
    background-color: var(--bg-color);
}

.project-introduction h2 {
    color: var(--secondary-fg-color);
    text-align: left;
}

.process-section h2, .final-section h2 {
    color: var(--accent-color);
}

a {
    color: var(--secondary-fg-color);
    text-decoration: none;
    font-weight: 600;
    transition: ease-in 200ms;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-bg-color);
}

img:active {
    transform: scale(2);
}

.process-section::before {
    content: '';
    position: absolute;
    z-index: 100;
    color: black;
}

.process-section {
    display: grid;
}

.preview-section p, .process-section p, .final-section p {
    font-size: 1rem;
}

.process-section img {
    width: 200px;
}

.process-section h2, .final-section h2, .project-introduction h2 {
    letter-spacing: 1px;
    color: var(--secondary-fg-color);
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0;
    font-weight: 200;
}

.img-gallery {
    display: flex;
    gap: 10px;
}

/* styles.css */

/* General styling for images in the gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.clickable-image {
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.clickable-image:hover {
    transform: scale(1.05);
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    cursor: pointer;
    transition: ease-in 200ms;
}

.close:hover {
    color: var(--secondary-bg-color);
}