body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #302C34;
    padding: 1rem 0;
    text-align: center;
}

h1, h2, p, button {
    margin-left: 10vw;
}

h1 {
  color:#EA79A2;
  font-size: 3em;
  padding: 0 10px;
}

h2 {
  font-weight: 200;
  font-size: 4em;
  color:#640D66;
  margin: 0;
  margin-left: 10vw;
}
p {
  max-width: 50%;
  line-height: 20px;
  color: #656565;
}

.purple-button {
    border: none;
    border-radius: 20px;
    color:#f4f4f4;
    cursor: pointer;
    background-color: #640D66;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 25px;
}

.purple-button:after {
  background-color: #EA79A2;
  border-radius: 20px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.purple-button:hover:after {
  transform: translate(0, 0);
}

.purple-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.purple-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .purple-button {
    padding: 0 40px;
  }
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    border-bottom: 3px solid #EA79A2;
}

nav ul li a {
    text-decoration: none;
    color: #302C34;
}

h3 {
  color:#f4f4f4;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 4em;
  font-weight: 200;
  background-color: #640D66;
  margin-top: -50px;
}

.projects {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #640D66;
  padding-bottom: 500px;
}

.project {
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  height: 400px;
  flex: 1 1 calc(33.333% - 40px);
  margin: 10px;
  background-color:#f4f4f4;
}

.project a {
  text-decoration: none;
  color: inherit;
}

.project img {
  width: 100%;
  height: auto;
}

.project h4, .project p, .project button {
  margin: 10px 0;
}

.project h4 {
  font-size: 1.5em;
  font-weight: 500;
  color:#640D66;
}
.project p {
  font-size: 0.75em;
  padding: 12px 40px;
}

.project button {
  margin: 0 auto;
}
.project:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border:#EA79A2 3px solid;
}



.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Cool Waves for Homepage */
*,
*:after,
*:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -mz-box-sizing: content-box;
  box-sizing: content-box;
}

svg path {
  animation: pathAnim 7s linear infinite;
}

svg path:nth-child(2) {
  animation-delay: 1s;
}
svg path:nth-child(3) {
  animation-delay: 3s;
}
svg path:nth-child(4) {
  animation-play-state: paused;
}

@keyframes pathAnim {
  0% {
    d: path(
      "M0, 192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500"
    );
  }
  25% {
    d: path(
      "M0, 100 C220, 100, 440, 292, 660, 292 C880, 292, 1100, 100, 1320, 102 L1320 500 L0 500"
    );
  }
  50% {
    d: path(
      "M0, 192 C220, 290, 440, 290, 660, 192 C880, 100, 1100, 100, 1320, 192 L1320 500 L0 500"
    );
  }
  75% {
    d: path(
      "M0, 292 C220, 292, 440, 100, 660, 100 C880, 100, 1100, 292, 1320, 192 L1320 500 L0 500"
    );
  }
  100% {
    d: path(
      "M0, 192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500"
    );
  }
}



