:root {
  --bg-color: #fafafa;
  --fg-color: #302C34;
  --secondary-fg-color: #640D66;
  --secondary-bg-color: #EA79A2;
  --secondary-accent-color: #ffe6f7;
  --accent-color: #3e08c6;
}

html {
  height: 100%;
  opacity: 1;
}

html.loading {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body {
  font-family: "area-normal", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  opacity: 1;
}

header {
  color: var(--fg-color);
  padding: 1rem 0;
  text-align: center;
}

h1, h2, p, button {
  font-family: "area-normal", sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
}

.intro {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.intro h1 {
  background: rgb(215,85,132);
  background: linear-gradient(144deg, rgba(215,85,132,1) 0%, rgb(163, 22, 165) 50%, rgb(10, 0, 202) 100%);
  width: min-content;
  background-clip: text;
  color: transparent;
  font-size: 5em;
  font-style: italic;
  margin-bottom: 0;
}

.intro h2 {
  font-size: 2.5em;
  font-weight: 200;
  width:80vw;
}

.intro h1, .intro h2 {
  grid-column: 1 / 3;
}

.intro p {
  line-height: 30px;
  max-width: 40vw;
  grid-column: 1 / 2;
}

#computer-lottie-animation {
  display: block;
  float: right;
  width: 40vw;
  height: auto;
  grid-column: 2 / 3;
  margin: -300px 0px;
}

.purple-button {
  border: none;
  border-radius: 20px;
  color: var(--bg-color);
  cursor: pointer;
  background-color: var(--secondary-fg-color);
  align-items: center;
  box-sizing: border-box;
  display: flex;

  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 50px 0;
}

.purple-button:after {
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.purple-button:hover:after {
  transform: translate(0, 0);
}

.purple-button:active {
  background-color: var(--bg-color);
  color: var(--secondary-fg-color);
  outline: 0;
}

.purple-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .purple-button {
    padding: 0 40px;
  }
}


/* Styling the nav bar */
.top-nav {
  padding: 0 20px;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  color: var(--secondary-fg-color);
}

.top-nav ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Align items horizontally */
  justify-content: space-around; /* Evenly space the links */
}

.top-nav li {
  margin: 0;
  padding: 15px 0; /* Vertical padding */
}

.top-nav a {
  text-decoration: none; /* Remove underline */
  color: var(--fg-color); /* White text */
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px; /* Rounded corners on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  font-family: "area-normal", sans-serif;
}

.top-nav a:hover {
  background-color: var(--secondary-accent-color); /* Darker background on hover */
  border-radius: 20px; /* Rounded corners on hover */
  color: var(--secondary-fg-color);
}

header img {
  width: 60px;
  float: left;
  margin: 5px;
  margin-left: 100px;
}

h3 {
  color: var(--bg-color);
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 4em;
  font-weight: 200;
  background-color: var(--secondary-fg-color);
  margin-top: -50px;
  padding-bottom: 50px;
}

.projects {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--secondary-fg-color);
  padding-bottom: 500px;
}

.project {
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  min-width: 250px;
  height: 420px;
  flex: 1 1 calc(33.333% - 40px);
  margin: 10px;
  background-color: var(--bg-color);
}

.project a {
  text-decoration: none;
  color: inherit;
}

.project img {
  width: 100%;
  height: auto;
}

.project h4, .project p, .project button {
  margin: 10px 0;
}

.project h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 20px 20px 0 20px;
  color: var(--secondary-fg-color);
}

.project p {
  font-size: 0.75em;
  padding: 12px 40px;
  line-height: 16px;
}

.project button {
  margin: 0 auto;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border: var(--secondary-bg-color) 3px solid;
}

.learn-more-wrap {
  background-color: var(--secondary-fg-color);
  color: var(--bg-color);
  padding: 10px;
  border: none;
  border-radius: 20px;
  max-width: 120px;
  max-height: 30px;
  margin: 0 auto;
  z-index: 1;
}

.learn-more {
  background-color: var(--secondary-fg-color);
  color: var(--bg-color);
  border: none;
  padding: 20px;
  border-radius: 20px;
}

.project:hover .learn-more {
  background-color: var(--secondary-bg-color);
  border-radius: 30px;
  z-index: -1;
}

.learn-more {
  border-radius: 30px;
  background-color: var(--secondary-fg-color);
  border: none;
  color: var(--bg-color);
  text-align: center;
  font-size: 12px;
  padding: 16px;  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learn-more:after {
  content: '➜';
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -25px;
  transition: 0.5s;
}

.project:hover .learn-more {
  padding-right: 30px;
  padding-left: 10px;
}

.project:hover .learn-more:after {
  opacity: 1;
  right: 10px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* About Me Page */
header {
  text-align: center;
  padding: 20px 0;
}

#about-me-image {
  max-width: 500px;
  height: auto;
}

.about-me-container {
  background-color: #fff;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio-content {
  max-width: 600px;
  margin-top: 20px;
}

.skills {
  margin: 40px auto;
  width: 100px;
}

.skills h2 {
  margin: 0;
  width: 200px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 20px;
}

.skill-item {
  background: var(--secondary-accent-color);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.skill-title {
  font-size: 1.2em;
  font-weight: bold;
}

.skill-level {
  font-size: 0.9em;
  color: #666;
}

.contact {
  background-color: #e3f2fd;
  padding: 40px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.contact h2 {
  color: #0d47a1;
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.contact-info a {
  color: #0d47a1;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.contact-info a:hover {
  color: var(--secondary-fg-color);
}




footer {
  background-color: var(--secondary-fg-color);
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}





/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-about,
  .footer-links,
  .footer-social {
    flex: 1 1 100%;
    text-align: center;
    margin: 10px 0;
  }

  header img {
    width: 0;
  }

}


/* Cool Waves for Homepage */
*,
*:after,
*:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -mz-box-sizing: content-box;
  box-sizing: content-box;
}

svg path {
  animation: pathAnim 7s linear infinite;
}

svg path:nth-child(2) {
  animation-delay: 1s;
}

svg path:nth-child(3) {
  animation-delay: 3s;
}

svg path:nth-child(4) {
  animation-play-state: paused;
}

@keyframes pathAnim {
  0% {
    d: path(
      "M0, 192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500"
    );
  }
  25% {
    d: path(
      "M0, 100 C220, 100, 440, 292, 660, 292 C880, 292, 1100, 100, 1320, 102 L1320 500 L0 500"
    );
  }
  50% {
    d: path(
      "M0, 192 C220, 290, 440, 290, 660, 192 C880, 100, 1100, 100, 1320, 192 L1320 500 L0 500"
    );
  }
  75% {
    d: path(
      "M0, 292 C220, 292, 440, 100, 660, 100 C880, 100, 1100, 292, 1320, 192 L1320 500 L0 500"
    );
  }
  100% {
    d: path(
      "M0, 192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500"
    );
  }
}

/** Responsive Styles **/
@media screen and (max-width: 750px) {
      .intro p {
        min-width: 80vw;
      }

      #computer-lottie-animation {
        grid-column: 1/3;
        width: 100vw;
      }
}

.project-gallery h1 {
  margin: 30px auto;
  text-align: center;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 40px; /* Hardcoded since --radius-card is excluded */
  overflow: hidden;
  text-decoration: none;
  filter: drop-shadow(8px 11px 0px #ffdbf2);
  border-left: #ffdbf2 solid 2px;
}

.card__image {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px; /* Hardcoded since --radius-card is excluded */
  color: var(--bg-color);
  background-color: var(--bg-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;

}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  all: unset;
  color: var(--bg-color);
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: 40px 0 0 0; /* Hardcoded since --radius-card is excluded */
  background-color: var(--bg-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  color: var(--secondary-fg-color);
}

.card__arc path {
  fill: var(--bg-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  animation: none;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__title {
  all: unset;
  font-size: 1em;
  margin: 0 0 .3em;
  color: var(--fg-color);
}

.card__tagline {
  all: unset;
  display: block;
  margin: 1em 0;
  font-size: .8em;
  color: var(--fg-color);
}

.card__short-description {
  all: unset;
  font-size: .8em;
  color: var(--fg-color);
  padding-bottom: 20px;
}

.card__tag {
  border: 2px #ff82b0 solid;
  border-radius: 20px;
  font-size: 10px;
  padding: 5px;
  margin: 15px 0;
  color: #c84c79;
  background-color: #fff9fd;
  font-weight: 600;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.card__tag-class {
  border: 2px #4756e5 solid;
  border-radius: 20px;
  font-size: 10px;
  padding: 5px;
  margin: 15px 0;
  color: #4453E0;
  background-color: #f4f6ff;
  font-weight: 600;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.card__description {
  padding: 0 3em 2em;
  margin: 0;
  color: var(--fg-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: .7em;
}

.full-width-img {
  max-width: 100%;
  padding: 0;
}

.project-introduction, .process-section, .final-section {
  background-color: var(--bg-color);
}

.project-introduction h2 {
  color: #302C34;
  text-align: left;
}

.process-section h2, .final-section h2 {
  color: #302C34;
}


.process-section::before {
  content: '';
  position: absolute;
  z-index: 100;
  color: black;
}

.process-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.preview-section p, .project-introduction p, .process-section p, .final-section p {
  font-size: .8em;
  line-height: 20px;
  width: 60vw;
  grid-column: 1;
}

.process-section img {
  max-width: 300px;
  height: fit-content;
  flex-shrink: 0;
}

.process-section h2, .final-section h2, .project-introduction h2 {
  letter-spacing: 1px;
  color: #302C34;
  text-transform: uppercase;
  text-align: left;
  padding-top: 10px 0;
  font-weight: 200;
  grid-column: 1;
  margin-bottom: 0;
}

.process-section h3 {
  all: unset;
  grid-column: 1;
  margin-left: 10vw;
  font-weight: 600;
  font-style: italic;
  color:var(--secondary-fg-color);
  padding-top: 20px;
}

.process-section h3:not(:nth-of-type(1)) {
  padding-top: 50px;
}

.project-page {
  row-gap: 100px;
}

body.project-page {
  background: linear-gradient(-45deg, #fff, #fafafa, #acdcff, #ffffff);
  background-size: 400% 400%;
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

.project-page h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}

@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* styles.css */

/* General styling for images in the gallery */
.image-gallery {
  grid-column: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10vw;
}


.clickable-image {
  max-width: 200px;
  cursor: pointer;
  transition: transform 0.3s;
}

.clickable-image:hover {
  transform: scale(1.05);
}

/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  cursor: pointer;
  transition: ease-in 200ms;
  transform: scale(2);
}

.close:hover {
  color: var(--secondary-bg-color);
}


